@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-evenly" style="margin-top: 100px">
    <div class="card" style="width: 400px">
        <img src="~/Iris_versicolor_3.jpg" class="card-img-top">
        <div class="card-body">
            <div class="card-text">versicolor</div>
        </div>
    </div>
    <div class="card" style="width: 400px">
        <img src="~/Iris_virginica.jpg" class="card-img-top">
        <div class="card-body">
            <div class="card-text">virginica</div>
        </div>
    </div>
    <div class="card" style="width: 400px">
        <img src="~/Kosaciec_szczecinkowaty_Iris_setosa.jpg" class="card-img-top">
        <div class="card-body">
            <div class="card-text">setosa</div>
        </div>
    </div>
</div>