@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IrisFlowerWeb.Pages.TypePredict.IndexModel

<div style="width: 350px; margin: 100px auto">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="IrisFlowerData.SepalLength" class="control-label"></label>
            <input asp-for="IrisFlowerData.SepalLength" class="form-control"/>
            <span asp-validation-for="IrisFlowerData.SepalLength" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IrisFlowerData.SepalWidth" class="control-label"></label>
            <input asp-for="IrisFlowerData.SepalWidth" class="form-control"/>
            <span asp-validation-for="IrisFlowerData.SepalWidth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IrisFlowerData.PetalLength" class="control-label"></label>
            <input asp-for="IrisFlowerData.PetalLength" class="form-control"/>
            <span asp-validation-for="IrisFlowerData.PetalLength" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IrisFlowerData.PetalWidth" class="control-label"></label>
            <input asp-for="IrisFlowerData.PetalWidth" class="form-control"/>
            <span asp-validation-for="IrisFlowerData.PetalWidth" class="text-danger"></span>
        </div>

        <hr>
        <dl class="row">
            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.IrisFlower.FlowerType)</dt>
            <dt class="col-sm-6">@Html.DisplayFor(model => model.IrisFlower.FlowerType)</dt>
        </dl>
        <div class="form-group d-flex justify-content-evenly mt-3">
            <button type="submit" class="btn btn-primary">预测</button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}